@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #77a8e9;
}

*::-webkit-scrollbar-thumb {
    background-color: #55b476;
    border-radius: 0px;
    border: 0px none #ffffff;
}

#App {
    height: 100%;
    width: 100%;
}

.Catagories {
    background-color: rgb(118, 111, 111);
}

.Cart {
    background-color: #285738;
}

.LittleCart {
    overflow-x: auto;
    white-space: nowrap;
}