@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: 0;
}

#root {
    background-color: #fafafa;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #77a8e9;
}

*::-webkit-scrollbar-thumb {
    background-color: #55b476;
    border-radius: 0px;
    border: 0px none #ffffff;
}

#App {
    height: 100%;
    width: 100%;
    color: #040101;
}

.MainPage, .Catagories, .Cart {
    background-color: #f6f6f6;
}

.LittleCart {
    overflow-x: auto;
    white-space: nowrap;
}

.searchInput {
    width: 300px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    padding-left: 5px;
    background: #f1f1f1;
}

.searchInput:focus {
    outline: none;
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    background-color: #46b3fc;
    border-radius: 0 10px 10px 0;
}